body {
    background-color: rgb(205, 218, 218);
}

.btnone {
    padding: 10px 28px;
    background-color: rgb(119, 159, 212);
    color: black;
    border-radius: 10px;
    margin: 30px;
}

.btntwo {
    padding: 10px 28px;
    background-color: rgb(119, 159, 212);
    color: black;
    margin-left: 40px;
    border-radius: 10px;
}

#dr {
    margin: 30px;
}

.divya {
    margin-left: 10%;
}